// SCSS styles for block will be here
@import '../../scss/index.scss';

.menu-best-vpn {

    &__inner {
        display: flex;
        flex-direction: row;
        font-weight: 400;
        justify-content: space-between;
        height: 11rem;
        padding: 1.1rem 3.6rem 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;  
        width: 100%;
    }

    &__logo-holder {
        background-color: transparent;
        text-decoration: none;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__logo {
        width: 17.4rem;
        height: auto;
        max-width: none;
    }

    &__buttons {
        display: flex;
        align-items: center;
    }

    &__sign-in-btn {
        @include btn_alina-tr-white-small-menu;
    }

    @include breakpoint (lg down) {

        &__sign-in-btn {
            @include btn_alina-tr-blue-h45;
        } 
    }

    @include breakpoint (md down) {

        &__inner {
            height: 6rem;
            padding: 0 1.6rem;
        }

        &__logo {
            width: 11.2rem;
            height: 2.7rem;
        }

        &__sign-in-btn {
            @include btn_alina-tr-blue-sm-mobile;
        }  
    }

}